.eeii {
  width: 80%;
  margin: 0 auto;
}

.about_text {
  margin-top: 100px;
}

.form {
  margin-top: 30px;
}

.submit {
  margin-left: 88px;
}

.work-save{
  background-color: orange;
  float: right;
  top: -30px;
  margin-right: 990px;
  margin-top: 30px;
}